.profile
  %h2= "All About #{@spacecat.name}, the SpaceCat!"
  %ul
    %li= "Home Planet: #{@spacecat.home_planet}"
    %li= "Tagline: #{@spacecat.tagline}"
    %li= "Superpower: #{@spacecat.superpower}"
  %img{:src=>"http://placekitten.com/300/200"}